.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
  
  .pagination button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .page-number {
    font-size: 18px;
    margin: 0 10px;
    font-weight: bold;
  }
  

   
  @media only screen and (max-width: 25em) {
    .pagination {
      flex-direction: column;
      gap: 2rem;
    }
  }